body {
    text-align: center;
    padding: 0;
    margin: 0;
}

/**
 *     Header
 */

.head {
    -background-image: url("http://lorempixel.com/1366/768/food/1");
    background-image: url("../imgs/lorempixel-1366-768-food-1_1.jpg");
    background-size: cover;
    padding-bottom: 160px;
}

.navigation {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    max-width: 1145px;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo img {
    float: left;
}

.logo span {
    display: block;
    color: #656666;
    margin-top: -5px;
}

.navigation nav {
    padding-right: 34px;
    float: right;
}

.navigation nav a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;


    padding-top: 20px;
    margin: 0 20px;
}

.navigation nav a:first-of-type {
    color: #e8511c;
}

.navigation nav a:last-of-type {
    position: relative;
}

.navigation nav a:last-of-type:after {
    content: url('../imgs/header_nav_cart.png');
    position: absolute;
    top: 15px;
    right: -54px;
}

.head h1 {
    margin: 220px 0 35px 0;
    color: white;
}

.desc {
    color: white;
}

.order-food-form {
    margin-top: 45px;
}

.order-food-form__item {
    padding: 20px 25px;
    border: 0;
    border-radius: 3px;
}

.order-food-form__input {
    width: 355px;
    box-sizing: border-box;
    margin: 0 5px;
}

.order-food-form__submit {
    text-align: left;
    position: relative;
    width: 200px;
    box-sizing: border-box;
    background: #e8511c;
    color: white;
    padding-left: 50px;

    margin-top: 10px;
}

.order-food-form__submit span {
    display: block;
}

.order-food-form__submit span:after {
    position: absolute;
    right: 30px;
    top: 17px;
    content: url("../imgs/header_search.icn.png");
}

.hints {
    margin-top: 55px;
}

.hints img {
    padding: 0 25px;
    width: 100%;
    max-width: 570px;
    box-sizing: border-box;
}




@media (max-width: 1150px) {
    .navigation {
        padding: 0 30px 0 25px;
    }
    .head h1 {
        margin-top: 160px;
    }
}

@media (max-width: 900px) {
    .navigation nav {
        float: none;
    }
    .navigation nav a {
        font-size: 0.9em;
        padding-top: 20px;
        margin: 0 15px;
    }
    .logo, .logo img {
        display: none;
    }
    .head h1 {
        margin-top: 100px;
    }

}

/**
 *  Popular Restaurants
 **/

.popular-restaurants {
    background: url("../imgs/offers_bg_texture.png");
    padding-bottom: 140px;
}

.popular_restaurants__header {
    font-weight: bold;
    padding: 25px 0;
    color: #42444c;
    border-bottom: solid 1px #e6e7e7;
    background: white;
}

.popular_restaurants__header a {
    color: #e8511c;
    text-decoration: none;
}

.popular_restaurants__h {
    margin-top: 65px;
    color: #2d2e33;
    font-weight: bold;
}

.popular_restaurants__span {
    color: #929391;
}

.offers {
    margin-top: 65px;
    display: inline-block;
}

.offer {
    background: white;
    display: inline-block;
    border: solid 1px #edeeee;
    border-radius: 3px;
    margin: 12px;
}

.offer__img_wrapper {
    display: inline-block;
    position: relative;
}

.offer__img_wrapper:after {
    content: '';
    position: absolute;
    background: url("../imgs/offers_triangle.png") repeat-x;
    width: 100%;
    height: 5px;
    bottom: 4px;
    left: 0;
}

.offer__img {
    width: 360px;
    height: 210px;
}

.offer__distance {
    position: absolute;
    color: white;
    padding: 4px 10px;
    background-color: #e8511c;
    border-radius: 3px;
    font-size: 0.9em;
    top: 12px;
    left: 18px;
}

.offer__rating {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.offer__reviews {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    text-transform: uppercase;
    font-size: .9em;
}

.offer__name {
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    color: #414651;
    margin-left: 20px;
    width: 220px;
    text-transform: capitalize;
}
.offer__description {
    display: block;
    text-align: left;
    color: #c0c8cc;
    margin-left: 20px;
    text-transform: capitalize;
}
.offer__order {
    margin: 20px 0;
    overflow: hidden;
}
.offer__price {
    display: block;
    float: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.offer__order_now {
    color: #e8511c;
    border: dashed 2px #e8511c;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    float: right;
    margin-right: 20px;
}

.offer__footer {
    border-top: solid 1px #edeeee;
}

.offer__footer__img {
    float: left;
    padding: 10px 12px;
    width: 50px;
    heigth: 46px;
}

.offer_footer_rest_discr {
    width: 190px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 10px;
    float: left;
    border-right: solid 1px #edeeee;
    text-transform: capitalize;
    height: 70px;
}

.offer_footer_rest_discr span {
    display: block;
    text-align: left;
}

.offer_footer_rest_discr span:first-child {
    color: #575755;
}

.offer_footer_rest_discr span:last-child {
    color: #aab5bc;
}

.offer__footer__popularity {
    position: relative;
    display: block;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    float: right;
    color: #aab5bc;
}

.offer__footer__popularity:before {
    position: absolute;
    left: -27px;
    content: url("../imgs/offers_heart_icn.png");
}

/**
 *  Middle
 **/

.middle {
    position: relative;
    padding-top: 100px;
    background:
                url("../imgs/middle_background_top_left.png") no-repeat 0 3px,
                url("../imgs/middle_bg_hack.png") repeat-x top;
    background-color: #111923;
}

.middle:before {
    position: absolute;
    content: url("../imgs/middle_img_01.png");
    top: -27px;
    right: 20px;
}

.middle:after {
    display: block;
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 136px;

    background: url("../imgs/middle_background_bottom.png") repeat-x;
}

.middle__header {

    margin-bottom: 0;
    color: #d2bda4;
}

.step {
    margin: 0 50px;
    position: relative;
    vertical-align: top;
    color: white;
    display: inline-block;
    width: 300px;
}

.step_icon {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 85px;
    border: solid 2px white;
    border-radius: 150px;
}

.step_icon img {
    margin-top: 30px;
}

.step-3 .step_icon img {
    margin-top: 25px;
}

.step-1 .step_icon:after {
     padding-top: 5px;
     box-sizing: border-box;
     width: 30px;
     height: 30px;
     border-radius: 35px;
     content: '1';
     position: absolute;
     background-color: #da3450;

     left: 0px;
     top: -5px;
 }

.step-2 .step_icon:after {
    padding-top: 5px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    content: '2';
    position: absolute;
    background-color: #da3450;

    left: 0px;
    top: -5px;
}

.step-3 .step_icon:after {
    padding-top: 5px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    content: '3';
    position: absolute;
    background-color: #da3450;

    left: 0px;
    top: -5px;
}

.step-2 {
    margin-top: 120px;
}

.step-1:after {
    position: absolute;
    content: url("../imgs/middle_arrow_1.png");
    right: -135px;
    top: 60px;
}

.step-2:after {
    position: absolute;
    content: url("../imgs/middle_arrow_2.png");
    right: -135px;
    top: -60px;
}

.step_header {
    margin-top: 40px;
    margin-bottom: 30px;
}

.step_text {
    line-height: 1.5em;
}

.middle__footer {
    display: inline-block;
    padding-bottom: 100px;
    color: #d2bda4;
    margin-top: 70px;
}


@media (max-width: 1220px) {
    .step-1::after, .step-2::after {
        display: none;
    }
    .step-2 {
        margin-top: 0;
    }
    .step {
        margin-top: 50px;
    }
}


/**
 *  Featured
 **/

.featured {
    background: url("../imgs/offers_bg_texture.png");
    padding-top: 100px;
    padding-bottom: 140px;
}

.featured__head {
    display: inline-block;
    width: 1145px;
}

.featured__head__name {
    display: inline-block;
    float: left;
    color: #414651;
    margin: 0;
    font-weight: normal;
}

.featured__head_nav {
    float: right;
}

.featured__head__nav__item {
    color: #414651;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
}

.featured__head__nav__button {
    border: none;
    background: none;
}

.icon_bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #414651;
    margin-top: 3px;
}

.featured__body {
    display: inline-block;
    margin-top: 55px;
}

.featured__body__restaurant {

    background-color: white;

    width: 555px;
    padding: 15px;
    padding-right: 45px;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px #edeeee;
    margin: 10px;

    text-align-last: left;
}

.featured__body__restaurant__img {
    float: left;
    margin-right: 15px;
}

.featured__body__restaurant__textbox {
    text-align: left;
    color: #758a96;
    padding: 5px 0;
}

.featured__body__restaurant__name {
    color: #414651;
    margin: 0;
    margin-bottom: 15px;

}

.featured__body__restaurant__dish {
    display: inline-block;

    font-size: 0.9em;
    margin-bottom: 15px;
}

.featured__body__restaurant__dish::after {
    content: ',';
}

.featured__body__restaurant__dish:last-of-type::after {
    content: '';
}

.featured__body__restaurant__footer {
    text-align-last: justify;
    font-size: 0.9em;
}

.featured__body__restaurant__min_price, .featured__body__restaurant__time {
    vertical-align: top;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 30px;
}

.featured__body__restaurant__min_price::before {
    content: url("../imgs/featured_icn_01.png");
    position: absolute;
    left: 0px;
    top: -1px;
}

.featured__body__restaurant__time::before {
    content: url("../imgs/featured_icn_02.png");
    position: absolute;
    left: 0px;
    top: -3px;
}

.featured__body__restaurant__popularity span {
    vertical-align: top;
    font-size: .9em;
}

.featured__body__restaurant__popularity span::before{
    vertical-align: top;
    content: '(';
}

.featured__body__restaurant__popularity span::after{
    vertical-align: top;
    content: ')';
}


@media (max-width: 1140px) {
    .featured__head {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
    }
}


@media (max-width: 800px) {
    .featured {
        padding-top: 90px;
    }
    .featured__head__name {
        display: none;
    }
    .featured__head_nav {
        float: none;
    }
    .featured__head__nav__item {
        display: inline-block;
        margin-top: 10px;
    }
}

@media (max-width: 555px) {
    .featured__body__restaurant {
        width: auto;
        min-width: 500px;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
}

/**
 *  Application
 **/

.application {
    position: relative;
    color: white;
    background-color: #e8511c;
    padding: 65px 0 50px 40%;
}

.application:before {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0;

    width: 100%;
    height: 5px;

    background: url("../imgs/application_edge_top.png") repeat-x;
}

.application:after {
    display: block;
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;

    width: 100%;
    height: 5px;

    background: url("../imgs/application_edge_bot.png") repeat-x;
}

.application__body {
    position: relative;
    display: inline-block;
    width: 455px;
    text-align: left;

    z-index: 500;
}

.application__body:before {
    content: url("../imgs/application_phone.png");
    position: absolute;
    left: -500px;
    bottom: -55px;
}

.application__header {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 35px;
}
.application__description {
    line-height: 1.5em;
    margin-bottom: 35px;
}

.application__download_button {
    width: 135px;
    text-align: left;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 8px;
}

.application_download_button__img {
    float: left;
    margin-right: 8px;
}

.application__download_button span{
    display: block;
}

.application__download_button span:first-of-type {
    color: #787979;
    font-size: .8em;
}

.application__download_button span:last-of-type {
    color: #ffffff;
    margin-top: 3px;
    font-size: .8em;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .application {
        padding: 65px 50px 50px 50px;
    }
    .application__body {
        width: auto;
        max-width: 450px;
    }
    .application__body::before {
        display: none;
    }
}

/**
 *  Footer
 **/

.footer {
    background-color: #111923;
    padding: 85px 0;
}

.footer__table {
    margin: 0 auto;
    width: 1145px;
    text-align: left;
}

.footer__table td {
    vertical-align: top;
}

.footer__table th {
    text-align: left;
    color: white;
    font-weight: normal;
    font-size: 1.4em;
    padding-bottom: 25px;
}

.footer__table td, .footer__table a{
    color: #88898a;
    text-decoration: none;
}

.footer__table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__table li {
    margin-bottom: 20px;
}

.footer__table td:first-of-type {
    width: 300px;
}
.footer__1st_row {
    height: 240px;
}

.footer__2nd_row td{
    padding-bottom: 40px;
}

.footer__table__address {
    padding-right: 140px;
}

.phone_number {
    color: #e8511c;
}



@media (max-width: 1150px) {
    .footer__table {
        width: auto;
        max-width: 1150px;
    }
}

@media (max-width: 900px) {
    .footer__table th {
        font-size: 1.2em;
    }
    .footer__table td {
        font-size: 0.9em;
    }
    .footer__table td:first-of-type {
        width: 200px;
    }
    .footer__table__address {
        padding-right: inherit;
    }
}

@media (max-width: 800px) {
    .footer__table th {
        font-size: 1em;
    }
    .footer__table td {
        font-size: 0.8em;
    }
    .footer__table td:first-of-type {
        width: auto;
    }
}

